@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;300;400;500;600;700&family=Roboto:wght@100;300;400;700&display=swap');

:root {
    --blue: #007bff;
    --indigo: #6610f2;
    --purple: #6f42c1;
    --pink: #e83e8c;
    --red: #dc3545;
    --orange: #fd7e14;
    --yellow: #ffc107;
    --green: #28a745;
    --teal: #20c997;
    --cyan: #17a2b8;
    --white: #fff;
    --gray: #6c757d;
    --gray-dark: #343a40;
    --primary: #007bff;
    --secondary: #6c757d;
    --success: #28a745;
    --info: #17a2b8;
    --warning: #ffc107;
    --danger: #dc3545;
    --light: #f8f9fa;
    --dark: #343a40;
    --breakpoint-xs: 0;
    --breakpoint-sm: 576px;
    --breakpoint-md: 768px;
    --breakpoint-lg: 992px;
    --breakpoint-xl: 1200px;
}
*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	list-style: none;
	text-decoration: none;
}


html{
	font-size: 62.5%;
	line-height: 2;
	font-family: 'Montserrat', sans-serif;
	font-weight: 400;
	color: var(--dark);
	background: var(--light);
}

body{
	font-size: 2rem;
}

small, .small{
	font-weight: 300;
}

a, .btn, button{
	display: inline-block;
}

.container{
	margin: 0 10rem;
}

.d-flex{
	display: flex;
	justify-content: center;
	align-items: center;
}

.d-inline{
	display: inline-flex;
	justify-content: center;
	align-items: center;
}

.btn {
	padding: 0.6rem 1.4rem;
	min-width: 10.8rem;
	border:none;
	border-radius: 6px;
	margin: 0 1rem;
}

.btn-light{
	background: var(--light);
	color: var(--primary);
	border: 1px solid var(--info);
}


.btn-primary{
	background: var(--blue);
	color: var(--white);
}

.btn-primary:hover, .btn-light:hover{
	background: var(--info);
	color: var(--light);
}

.btn-primary, .btn-light{
	transition: background color 250ms ease-in, color 250ms ease-in;
}


.header{
	justify-content: space-between;
	height: 7rem;
	background: var(--light);
	box-shadow: 0 0 1px 0.5px rgba(255, 200, 255, 0.4);
	margin: 0;
	padding: 0 10rem;
}

.logo{
	margin-right: 3rem;
}

.navbar__link{
	margin-right: 2rem;
}

.header .buttons{
	width: 40rem;
	justify-content: end;
}


.header .buttons a{
	font-weight: 600;
}