@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;300;400;500;600;700&family=Roboto:wght@100;300;400;700&display=swap");

:root {
  --blue: #007bff;
  --indigo: #6610f2;
  --purple: #6f42c1;
  --pink: #e83e8c;
  --red: #dc3545;
  --orange: #fd7e14;
  --yellow: #ffc107;
  --green: #28a745;
  --teal: #20c997;
  --cyan: #17a2b8;
  --white: #fff;
  --gray: #6c757d;
  --gray-dark: #343a40;
  --primary: #007bff;
  --secondary: #6c757d;
  --success: #28a745;
  --info: #17a2b8;
  --warning: #ffc107;
  --danger: #dc3545;
  --light: #f8f9fa;
  --dark: #343a40;
  --blue-primary: #4eb3ee;
  --blue-secondary: #1075b5;
  --blue-three: #016db1;
  --blue-four: #026fb2;
  --blue-five: #4769fa;
  --dark-blue-primary: #1b274d;
  --dark-blue-secondary: #021b4d;
  --dark-blue-three: #031b4e;
  --border-color: #e5e5e506;
  --breakpoint-xs: 0;
  --breakpoint-sm: 576px;
  --breakpoint-md: 768px;
  --breakpoint-lg: 992px;
  --breakpoint-xl: 1200px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
}

html {
  font-size: 62.5%;
  line-height: 2;
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  color: var(--dark);
  background: var(--light);
}

body {
  font-size: 2rem;
}

small,
.small {
  font-weight: 300;
}

img{
  width: 100%;
}

a,
.btn,
button {
  display: inline-block;
}

.container {
  margin: 0 10rem;
}

.d-flex {
  display: flex;
  justify-content: center;
  align-items: center;
}

.d-inline {
  display: inline-flex;
  justify-content: center;
  align-items: center;
}

.btn {
  padding: 7px 15px;
  text-align: center;
  border: none;
  border-radius: 8px;
  margin: 0 1rem;
}

.btn-light {
  background: var(--light);
  color: var(--primary);
  border: 1px solid var(--info);
}

.btn-primary {
  background: var(--blue);
  color: var(--white);
}

.btn-teal{
  background-color: var(--teal);
}

.btn-teal:hover{
  color: var(--dark-blue-primary);
}

.btn-primary:hover,
.btn-light:hover {
  background: var(--info);
  color: var(--light);
}

.btn-primary,
.btn-light {
  transition: color 250ms ease-in, background-color 200ms ease-in;
}

.header {
  justify-content: space-between;
  width: 100%;
  position: fixed;
  z-index: 999;
  height: 8rem;
  background: var(--light);
  padding: 0 8vw;
  box-shadow: 0 0 3px 0.5px rgba(100, 100, 100, 0.7);
}

.logo {
  font-weight: 700;
  letter-spacing: 0;
  text-transform: uppercase;
  letter-spacing: 0.3rem;
  line-height: 1.6;
  font-size: 3rem;
  background: -webkit-linear-gradient(
    45deg,
    var(--dark-blue-secondary),
    var(--blue-four)
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.navbar {
  flex: 1;
  justify-content: space-between;
}

.navbar__link {
  margin-left: 1.5rem;
  font-size: 2rem;
  font-weight: 500;
  background: -webkit-linear-gradient(
    45deg,
    var(--dark-blue-primary),
    var(--blue-primary)
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.header .buttons {
  width: 40rem;
  justify-content: end;
}

.header .buttons a {
  font-weight: 600;
}

.hamberger {
  width: 70px;
  display: none;
}

/* === MAIN-CONTAINER === */
.main-container {
  padding-top: 80px;
}
.section-container{
  width: 100%;
  height: 100vh;
  padding: 4vh 8vw;
}
/*  -- section-container */
.bannere {
 
  background-color: var(--dark);
}

.section-text {
  padding: 1rem 5px;
  max-width: 30vw;
  text-align: justify;
}

.section-text h1 {
  color: var(--light);
  line-height: 1;
}

.section-text p {
  color: var(--secondary);
  margin: 1rem 0;
  line-height: 1.1;
}
.section-buttons {
  margin-top: 2rem;
}
.section__link {
  color: var(--light);
  font-weight: 600;
  border: 1px solid #e5e5e516;
  transition: 0.3s ease;
}

.section__link--register {
  background-image: linear-gradient(
    to left,
    var(--dark-blue-secondary),
    var(--dark-blue-primary)
  );
}

.section__link--connexion {
  background-image: linear-gradient(
    to left,
    var(--dark-blue-primary),
    var(--dark-blue-three)
  );
}

.section__link--connexion:hover,
.section__link--register:hover {
  background: linear-gradient(
    to left,
    var(--dark-blue-secondary),
    var(--dark-blue-three)
  );
  color: var(--gray);
}

.section-image {
  width: 100%;
}

.section-image svg, .section-image img {
  width: 100%;
}
/*  title */
.title{
  width: 100%;
  padding: 4rem;
  text-align: center;
  font-weight: 600;
  text-transform: uppercase;
  font-size: 3rem;
}
/*  ---- comment ca marche ----- */
section.section-container.comment-ca-marche {
  padding: 4vh 8vw 4vh 0;
}
.comment-ca-marche{
  justify-content: space-between;
  width: 100%;
  height: 100%;
  background-image: linear-gradient(90deg, var(--dark) 0% 50%,var(--dark-blue-three) 50% 100%);
}


.comment-ca-marche .section-image{
  width: 50%;
  height: 100%;
}

.comment-ca-marche .section-text{
  flex: 1;
}


/*  --- nos module */
section.section-container.nos-module{
  height: 100%;
  padding-top: 0rem;
  flex-wrap: wrap;
  justify-content: space-between;
}

.card{
  width: 30%;
  padding: 0.6rem 1.6rem;
  border-radius: 1.1rem;
  border: 4px solid hsl(162deg 73% 46% / 6%);
  background-color: hsl(162deg 73% 46% / 9%);
}

.card__head{
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding: 1.3rem;
  height: 150px;
  
  border-radius: 1.1rem;
}

.card__head h2{
  line-height: 1;
}

.card__body{
  height: 200px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
  text-align: justify;
  line-height: 1.2;
}

card__body a:hover{
  background-color: hsl(162deg 73% 46% / 6%) !important;
}